/* div{
    background-color: blue;
    width: 60%;
    height:50%;
    min-width: 40%;
    max-width: 60%;
    min-height: 30%;
    max-height:50%;

} */

div{
    width: 40%;
    height: 30%;
    background-color: rgb(247, 244, 244);
    border-width:20px;
    text-align: center;
    font-weight: bold;
}
div{
    border: 3px solid blue;
    box
} 

div p{
    padding: 2px;
    margin: 10px;
    font-style: italic;
    font-size: 50px;
    color: darkred;
}
#p1{
 color: blue;
}